* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
.navbar {
    justify-content: center;
}

.botonesHeader {
    margin: auto 30px;
    height: 50px;
    width: 7%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 30px 0;
    width: 500px;
}

h1 {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    width: 100%;
}

input {
    width: 100%;
    height: 30px;
    margin: 10px auto;

    &:focus {
        outline: none;
        box-shadow: 0 0 10px rgba(84,97,148,0.4);
        border: 2px solid black;
    }
}

.btnSubmit {
    margin: 30px 40px;
}

table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

tr {
    width: 100%;
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    word-wrap: break-word;
}

th {

    border: 1px solid black;
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
}